body,
html {
  width: 100%;
  height: 100%;
  color: white;
  background: url(fireworks.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	direction: rtl;
	font-size: 3rem;
	font-family: 'Montserrat', 'Assistant', sans-serif;
	color: white;
	text-shadow: 3px 3px 5px black;
}

h3, h4 {
	text-align: right;
	direction: rtl;
	font-family: 'Assistant', sans-serif;
	text-shadow: 3px 3px 5px black;

}

.buffer-short {
	height: 1.5rem;
}

.buffer-long {
	height: 3rem;
}

.email-field {
	font-family: 'Assistant', sans-serif;
	border-radius: 10px;
	width: 20em;
}
hr {
	border-color: #F05F44;
	border-width: 3px;
	max-width: 100px;
}
.btn {
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
	border-radius: 300px;
	font-size: 1.2em;
}

.btn-warning {
	background-color: #F05F44;
	border-color: #F05F44;
}

.btn-warning:hover {
	background-color: #e6e2d7;
	border-color: #000;
	cursor: pointer;
}

.btn-xl {
	padding: 1rem 2rem;
}

footer {
	text-align: left;
	color: white;
	clear: both;
	font-family: 'Montserrat', sans-serif;
}